*{
    background-color: rgb(88, 88, 88);
    font-family: "Arial"; 
}
.TB{
    border:solid black;
    background-color: rgb(88, 88, 88);
    height: 12vw;
}
.TBR{
    border:solid black;
    padding:1.5%;
    padding-top: 2%;
    margin-left:0.25%;
    margin-right:0.25%;
    font-size:210%;
    background-color: rgb(255, 255, 255);
}
.BR{
    border:solid black;
    margin-top:0.2%;
    padding-bottom:3.5%;
    background-color:rgb(88, 88, 88);
}
.camera{
    border:solid black;
    padding-left: 20%;
    padding-bottom:40%;
    margin-right: 50%;
    padding-right:20%;
    background-color:white;
    display: inline;
    width: 50vw;
}
.BBR{
    border:solid black;
    padding-top:0.1%;
    padding-bottom:0.1%; 
    margin-left:89%;
    background-color:white;   
}
.BBox{
    border:solid black;
    padding-top:0.1%;
    margin:0.1%;
    padding-bottom:0.1%; 
    background-color:white;   
}
.BBox2{
    border:solid black;
    padding-top:0.1%;
    margin:0.1%;
    padding-bottom:0.1%; 
    background-color:white;
    color: red   
}
.BTBox{
    border:solid black;
    padding-top:0.1%;
    margin:0.5%;
    padding-bottom:0.1%; 
    background-color:white;
    font-size:75%;
}
.Scale{
    width:6%;
    height:6%;
    background-color:white;
}
.Cube{
    width:4%;
    height:4%;
    background-color:white;
}
.Arrows{
    width:5%;
    height:4%;
    background-color:white;
}
.DArrow{
    width:3%;
    height:0.5%;
    background-color:white;
}
.Topbar{
    margin-left:1%;
    padding-top:2.5%}
.LiftB{
    background-color:white;
    color: lime;
}
.orientation{
    border:solid black;
    padding: 0%;
    margin-left: 52%;
    padding-bottom: 30%;
    background-color:white;
    width: 50vw;
    display: inline;
    float: right;
}
.TBR2{
    border:solid black;
    padding:1.5%;
    padding-top: 2%;
    margin-left:0.25%;
    margin-right:0.25%;
    font-size:210%;
    background-color: rgb(255, 255, 255);
    margin-left: 65%}
#timer{
    border:solid black;
    background-color:white;
    font-size: 12vw;
    width: 20vw;
    height: 12vw;
    margin: auto;
    display: inline;
    vertical-align: top;
}
.TBR2{
    border:solid black;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    margin-left:0.25%;
    margin-right:0.25%;
    font-size:210%;
    background-color: rgb(255, 255, 255);
    float:right;
}
.hidden{
    display: none;
}
.checklist{
    background-color:white;
    font-size:3vw;
}
input[type=checkbox]{
    zoom:250%;
}
input[type=submit]{
    zoom:250%;
}
legend{
    background-color: white;
}
#auto-select{
    background-color:white;
    display: inline;
    width: fit-content;
}
#connection{
    width: 10vw;
    display: inline;
}
.lift-status{
    border:solid black;
    font-size:6vw;
    background-color: rgb(255, 255, 255);
    float:right;
}

