*{
    background-color: rgb(88, 88, 88);
}
.TB{
    border:solid black;
    padding:3.5%;
    background-color: rgb(88, 88, 88);
}
.TBR{
    border:solid black;
    padding:1.5%;
    margin-left:1.5%;
    margin-right:1.5%;
    font-size:150%;
    background-color: white;
}
.BR{
    border:solid black;
    margin-top:0.2%;
    padding-bottom:10.5%;
    background-color:rgb(88, 88, 88);
}
.Camera{
    padding-bottom:47%;
    margin-top:15%;
    padding-left:42.30%;
    padding-right:37.30%;
    margin-right:0.8%;
    border:solid black;
    background-color:white;
}
.BBR{
    border:solid black;
    padding-top:0.1%;
    padding-bottom:0.1%; 
    margin-left:89%;
    background-color:white;   
}
.BBox{
    border:solid black;
    padding-top:0.1%;
    margin:0.1%;
    padding-bottom:0.1%; 
    background-color:white;   
}
.BTBox{
    border:solid black;
    padding-top:0.1%;
    margin:0.5%;
    padding-bottom:0.1%; 
    background-color:white;
    font-size:75%;
}
.Scale{
    width:5%;
    height:5%;
    background-color:white;
}
.Cube{
    width:2.5%;
    height:2.5%;
    background-color:white;
}
.Arrows{
    width:4%;
    height:4%;
    background-color:white;
}
.DArrow{
    width:3%;
    height:3%;
    background-color:white;
}