*{
    background-color: rgb(88, 88, 88);
    font-family: "Arial"; 
}
.TB{
    border:solid black;
    background-color: rgb(88, 88, 88);
    height: 12vw;
}
.camera{
    border:solid black;
    padding-left: 20%;
    padding-bottom:40%;
    margin-right: 50%;
    padding-right:20%;
    background-color:white;
    display: inline;
    width: 50vw;
}
.orientation{
    border:solid black;
    padding: 0%;
    margin-left: 52%;
    padding-bottom: 30%;
    background-color:white;
    width: 50vw;
    display: inline;
    float: right;
}
#timer{
    border:solid black;
    background-color:white;
    font-size: 12vw;
    width: 20vw;
    height: 12vw;
    margin: auto;
    display: inline;
    vertical-align: top;
}
.TBR2{
    border:solid black;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    margin-left:0.25%;
    margin-right:0.25%;
    font-size:210%;
    background-color: rgb(255, 255, 255);
    float:right;
}
.hidden{
    display: none;
}
.checklist{
    background-color:white;
    font-size:3vw;
}
input[type=checkbox]{
    zoom:250%;
}
input[type=submit]{
    zoom:250%;
}
legend{
    background-color: white;
}
#auto-select{
    background-color:white;
    display: inline;
    width: fit-content;
}
#connection{
    width: 10vw;
    display: inline;
}
.lift-status{
    border:solid black;
    font-size:6vw;
    background-color: rgb(255, 255, 255);
    float:right;
}
